.o-tag {
    position: relative;
    display: inline-block;
    font-variant: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    &__close {
        padding-right: 23px;
    }

    &__closeBtn{
        position: absolute;
        right: 3px;
    }
}